<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="sfondoPrincipale py-5">
            <div class="container m-auto bg-white  h-100">
                <div class="row altezza flex-nowrap">
                    <div class="col-4 d-flex flex-column">
                        <!-- SEZIONE PROFILO -->
                        <div class="d-flex justify-content-between p-3 bg-gray-custom">
                            <div class="d-flex align-items-center">
                                <img class="profilo me-2" :src="`./img/avatar${profilo.avatar}.jpg`" alt="">
                                <span class="fs-4">{{profilo.name}}</span>
                            </div>
                            <div class="d-flex align-items-center fs-5">
                                <i class="fa-solid fa-circle-notch me-3"></i>
                                <i class="fa-solid fa-message me-3"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- SEZIONE NOTIFICHE -->
                        <div class="d-flex align-items-center bg-info p-3">
                            <div class="p-2 bg-white rounded-circle me-3">
                                <i class="fa-solid fa-bell-slash fs-3 text-info"></i>
                            </div>
                            <div>
                                <p class="">Ricevi notifiche di nuovi messaggi</p>
                                <a class="notifiche" href="">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <!-- SEZIONE CERCA -->
                        <div class="p-2 bg-gray-custom">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-white p-2" id="inputGroup-sizing-default"><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="text" class="form-control p-1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Cerca o inizia una nuova chat">
                              </div>
                        </div>
                        
                        <!-- SEZIONE CONTATTI -->
                        <div class=" overflow ">
                            <div 
                            class="d-flex align-items-center p-2" v-for="(contatto, index) in contacts"
                            role="button"
                            @click="chat(index)"
                            >
                                <div class="">
                                    <img class="profilo" :src="`./img/avatar${contatto.avatar}.jpg`" alt="">
                                </div>
                                <div class="ms-3">
                                    <p>{{contatto.name}}</p>
                                    <span> Ultimo messaggio inviato</span>
                                </div>
                                <div class="align-self-start flex-grow-1 text-end">
                                    <span>12:00</span>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-between">
                        <!-- SEZIONE header CHAT -->
                        <div class="d-flex justify-content-between p-3 bg-gray-custom border-start border-3">
                            <div class="d-flex align-items-center">
                                <img class="profilo me-2" :src="`./img/avatar${contacts[indexVariabile].avatar}.jpg`" alt="">
                                <div class="d-flex flex-column"
                                                                   
                                >
                                    <span class="fs-4">{{contacts[indexVariabile].name}}</span>
                                    <span>Ultimo accesso oggi alle 12:00s</span>
                                </div>
                                
                            </div>
                            <div class="d-flex align-items-center fs-5">
                                <i class="fa-solid fa-circle-notch me-3"></i>
                                <i class="fa-solid fa-message me-3"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- SEZIONE CHAT VERA E PROPRIA -->
                        <div 
                        class="d-flex flex-column chat p-5 h-100 overflow"
                        >
                            <div class="mb-3" 
                               v-for="(element,index) in contacts[indexVariabile].messages"
                                :class="(element.status=='sent')?'inviato' : 'ricevuto'"
                            >
                                <p>{{element.message}}</p>
                                <p class="text-end tempo">{{element.date}}</p>
                            </div>
                            <!-- <div class="inviato mb-2">
                                <p>Ricordati di stendere i panni</p>
                                <p class="text-end tempo">15:50</p>
                            </div>
                            <div class="ricevuto">
                                <p>Tutto fatto!</p>
                                <p class="text-end tempo">16:15</p>
                            </div> -->
                        </div>
                        <!-- SEZIONE FOOTER CHAT -->
                        <div class="d-flex align-items-center bg-gray-custom">
                            <div class="px-3">
                                <i class="fa-solid fa-face-smile fs-4"></i>
                            </div>
                            <div class="input-group p-2">

                                <input 
                                type="text" class="form-control p-1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Scrivi un messaggio"
                                v-model='nuovoMessaggio'
                                @keyup.enter="messaggio"
                                >
                            </div>
                            <div class="px-3">
                                <i class="fa-solid fa-microphone fs-4"></i>
                            </div>

                        </div>
                    </div>
                </div>
    
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>